@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* --gray: #121519; */
  --gray: #202125;
  --light-gray: #aaa;
  --title-color: white;
  --yellow: #eab308;
  --yellow-light: #e9be5f;
  --gold: #996515;
  /* --blue: #0D101A; */
  --blue: #101010;

  --font-roboto: var(--font-roboto);
  --font-title: 'Times New Roman', Times, serif;

  --animate-warning: warning 200ms;
  --animate-orderOpen: orderOpenAnimate 400ms;
  --animate-orderClose: orderCloseAnimate 400ms forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000101;
    --foreground: #ededed;
  }
}

@keyframes selectMenuOpen {
  from {
    opacity: 0;
    transform: translateY(-8px) scaleY(0.96);
  }

  to {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes warning {
  0% {
    opacity: 0;
    transform: translateX(-6px);
  }

  50% {
    opacity: 1;
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes orderOpenAnimate {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes orderCloseAnimate {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}